<!DOCTYPE html>
@{


    //AdminLTE colorschemes
    var color_white = "black-light "; //prefix 'skin-'
    var color_dark = "black";

    Func<string, IHtmlString> json = x => new HtmlString(Serenity.JSON.Stringify(x));
    var hideNav = Request["hideNav"] == "1";
    var logged = Serenity.Authorization.Username;
    var themeCookie = Request.Cookies["ThemePreference"];
    var theme = "skin-" +  (themeCookie != null && !themeCookie.Value.IsEmptyOrNull() ? themeCookie.Value : color_dark);
    var rtl = System.Globalization.CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft;

    //AdminLTE alternate layouts
    var normalSidebarSlideout = theme + " fixed sidebar-mini";
    var sidebarCollapsedHoverMenu = theme + " hold-transition sidebar-collapse sidebar-mini";
    var noSideBar = theme + " hold-transition sidebar-collapse layout-top-nav";

}
<!--[if IE 8]> <html lang="@UICulture" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="@UICulture" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="@UICulture" class="no-js@(hideNav ? " no-navigation" : "")">
<!--<![endif]-->
<head>
    @{Html.RenderPartial(MVC.Views.Shared._LayoutHead);}
    @RenderSection("Head", false)
    <title>@(ViewData["Title"]) | Enterprise</title>
    @{Html.RenderPartial(MVC.Views.Shared._GoogleAdsense);}
</head>
<body id="bodytag" class="@(sidebarCollapsedHoverMenu )">
    <!-- <body id="s-@(ViewData["PageId"])Page" class="@(ViewData["BodyClass"]) fixed sidebar-mini hold-transition skin-@theme@(hideNav ? " no-navigation" : " has-layout-event")@(rtl ? " rtl" : "")">
     -->
    @if (hideNav)
    {
        <script type="text/javascript">
            $(function () {
                @RenderSection("PageInitScript", false)
            });
        </script>
            <div id="page-outer-nonav">
                <div id="page-container" class="page-container-common">
                    @RenderBody()
                </div>
            </div>
    }
    else
    {
        <div class="wrapper">
            <header class="main-header">
                <nav class="navbar navbar-static-top">
                    <a class="sidebar-toggle" href="#" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle Navigation</span>
                        <i class="sidebar-toggle-bars fa fa-bars"></i>
                        <i class="sidebar-toggle-arrow fa fa-arrow-circle-left"></i>
                    </a>

                    @*<div class="navbar-header">*@
                        <a href="/" class="navbar-brand">
                            <b>@LocalText.Get("Navigation.SiteTitle")</b>
                        </a>
                        @Html.Partial("_LoginPartial")
                    @*</div>*@
                    
                </nav>
            </header>

            <aside class="main-sidebar">
                <nav class="navbar-static-top sidebar-top">                    
                    <a href="/" class="navbar-brand">
                        <div class="site-logo-mini"></div>
                        <span>@LocalText.Get("Navigation.OrgTitle")</span>
                    </a>
                </nav>
                <section class="sidebar">
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" id="SidebarSearch" name="q" class="form-control" autocomplete="off">
                            <span class="input-group-btn">
                                <button type="button" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <ul class="sidebar-menu" id="SidebarMenu">
                        @{Html.RenderPartial(MVC.Views.Shared.LeftNavigation, new Enterprise.Navigation.NavigationModel()); }
                    </ul>
                </section>
            </aside>

            <div class="content-wrapper">
                @if (IsSectionDefined("ContentHeader"))
                {
                    <section class="content-header">
                        @RenderSection("ContentHeader")
                    </section>
                }
                <section class="content">
                    @RenderBody()
                </section>
            </div>

            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    @Texts.Site.Layout.FooterInfo
                </div>
                <strong>@Texts.Site.Layout.FooterCopyright</strong> @Texts.Site.Layout.FooterRights
            </footer>

            <aside class="control-sidebar control-sidebar-dark">
                <div class="tab-content">
                    <div class="tab-pane active" id="control-sidebar-settings-tab">
                        <form method="post">
                            <h3 class="control-sidebar-heading">@Texts.Site.Layout.GeneralSettings</h3>

                            <div class="form-group">
                                <label class="control-sidebar-subheading">@Texts.Site.Layout.Language</label>
                                <select id="LanguageSelect" class="form-control"></select>
                            </div>

                            <div class="form-group" style="margin-top: 15px;">
                                <label class="control-sidebar-subheading">@Texts.Site.Layout.Theme</label>
                                <select id="ThemeSelect" class="form-control"></select>
                            </div>
                        </form>
                    </div>
                </div>
            </aside>
            <div class="control-sidebar-bg"></div>
        </div>

            <script type="text/javascript">
                $().ready(function () {
                    new Enterprise.Common.SidebarSearch($('#SidebarSearch'), $('#SidebarMenu')).init();
                    new Enterprise.Common.LanguageSelection($('#LanguageSelect'), '@(System.Globalization.CultureInfo.CurrentUICulture.Name)');
                    new Enterprise.Common.ThemeSelection($('#ThemeSelect'));
                    @RenderSection("PageInitScript", false);

                    var doLayout = function () {
                        height = (this.window.innerHeight > 0) ? this.window.innerHeight : this.screen.height;
                        height -= $('header.main-header').outerHeight() || 0;
                        height -= $('section.content-header').outerHeight() || 0;
                        height -= $('footer.main-footer').outerHeight() || 0;
                        if (height < 200) height = 200;
                        $("section.content").css("min-height", (height) + "px");

                        $('body').triggerHandler('layout');

                        var $hamburger = $(".hamburger");
                        $hamburger.on("click", function (e) {
                            $hamburger.toggleClass("is-active");
                            // Do something else, like open/close menu
                        });
                    };

                    $(window).bind("load resize layout", doLayout);
                    doLayout();
                });
            </script>
                            }
</body>
</html>